PreferCompression not respected

**Possible cause**
I think this bug come from [here](https://github.com/unosquare/embedio/blob/3ace452186bfe897d78d7b5c6926be9b6cfb2834/src/EmbedIO/HttpRequestExtensions.cs#L67-L68).
`Identity` value is not specified in `Accept-Encoding` so `QValueListExtensions.TryNegotiateContentEncoding` jumps to the first accepted value (in this case `gzip`).

**To Reproduce**
Run the following snippet:
```cs
namespace Repro
{
    using System;
    using System.Collections.Generic;
    using System.IO;
    using System.Net;
    using System.Net.Http;
    using System.Net.Http.Headers;
    using System.Text;
    using System.Threading;
    using EmbedIO;
    using EmbedIO.Files;

    class Program
    {
        [STAThread]
        static void Main()
        {
            var fileModule = new FileModule("/", new MyFileProvider());
            fileModule.PreferCompression("*/*", false);

            var server = new WebServer(12345);
            server.WithModule(fileModule);
            server.Start();

            var client = new HttpClient(new HttpClientHandler
            {
                AutomaticDecompression = DecompressionMethods.None,
            });

            var request = new HttpRequestMessage(HttpMethod.Get, new Uri("http://localhost:12345/file.txt"));
            request.Headers.Accept.ParseAdd("*/*");
            request.Headers.Range = new RangeHeaderValue(0, null);
            request.Headers.AcceptEncoding.ParseAdd("gzip, deflate");

            var response = client.SendAsync(request).GetAwaiter().GetResult();
            var responseText = response.Content.ReadAsStringAsync().GetAwaiter().GetResult();
            var responseContentEncoding = response.Content.Headers.ContentEncoding.ToString();
        }

        class MyFileProvider : IFileProvider
        {
            private byte[] _data = Encoding.UTF8.GetBytes("this is a test");

            public bool IsImmutable => false;
            public event Action<string> ResourceChanged;

            public IEnumerable<MappedResourceInfo> GetDirectoryEntries(string path, IMimeTypeProvider mimeTypeProvider)
            {
                yield break;
            }

            public MappedResourceInfo MapUrlPath(string urlPath, IMimeTypeProvider mimeTypeProvider)
            {
                return MappedResourceInfo.ForFile(urlPath, urlPath, DateTime.UtcNow, _data.Length, "application/octet-stream");
            }

            public Stream OpenFile(string path)
            {
                return new MemoryStream(_data);
            }

            public void Start(CancellationToken cancellationToken)
            {
            }
        }
    }
}
```

**Expected behavior**
`responseText` should be "this is a test" and `responseContentEncoding` shouldn't be "gzip".

**Version**
3.0.0-rc002

Hello @AbeniMatteo. Good catch, thanks for the heads-up.

As a matter of fact, a rule stated in [RFC7231, Section 5.3.4](https://tools.ietf.org/html/rfc7231#section-5.3.4) was not respected by the `QValueListExtensions.TryNegotiateContentEncoding` method. I have corrected the code, adding a normative reference in comments, as well as added a regression test to make sure this issue does not represent itself in the future.

Tested rc003, now it works.
I was trying to enable 206 responses and the solution was to disable the compression, if not documented i think it should be.

Thanks.

How is that? Current EmbedIO can not negotiate partial if the content encoding is different from identity?

No it cannot. It is stated so [in the code comments](https://github.com/unosquare/embedio/blob/d5d1295f5dc86f5ecfca22edf24b486a8e205409/src/EmbedIO/Files/FileModule.cs#L446).

There's an interesting discussion on the subject [on ruby-forum.com](https://www.ruby-forum.com/t/potential-bug-gzipping-preventing-http-range-requests/208701). It's a few years old, talking about Nginx vs. Apache and CURL vs. browsers, but the relevant parts of RFCs have not changed much in the meantime.

In short, combining range requests with content compression would mean sending pieces of a gzipped / deflated resource. The client couldn't decompress the resource without first combining all the pieces, because of how compression / decompression algorithms work. Different clients will mess things up in different ways, but there seems to be no clear standard about handling compressed 206 responses. Therefore it makes no sense to send them.

This is usually no big deal, since most files over a few kbytes are compressed anyway: think ZIP, JPEG, PNG, even OfficeOpenXML and OpenDocument (which are ZIP files under disguise)...

I'm closing this issue since the originally signalled bug has been corrected. 